.order-negative-one-mobile
{
	@include until($tablet) {
		order : -1
	}
}

.is-flex-column-mobile
{
	@include until($tablet) {
		flex-direction: column;
	}
}

.h-100
{
	height: 100%;
}